/* Tag */
h1{
    color: yellow;
    font-size: 20px;
}
h2{
    color: blue;
    font-size: 15px;
}

/* ID */
#judul{
    color: green;
    font-size: 30px;
}
#subjudul{
    color: aqua;
    font-size: 20px;
}

.title{
    color: chartreuse;
    font-size: 20px;
}

.upper{
    text-transform: uppercase;
}
