<head>
    <body>
        <h1>Belajar Image</h1>
        <img style="width: 200px; height: 200px;" src="logo-itsk.jpg" alt="Logo ITSK Soepraoen">
        <hr>

        
    </body>
    <h1>Belajar Picture</h1>
        <picture>
            <source media="(max-width: 500px)" srcset="logo-itsk.jpg">
            <source media="(max-width: 1000px)" srcset="logo-itsk.jpg">
            
            <img style="width: 200px; height: 200px;" src="logo-itsk.jpg" alt="Logo ITSK Soepraoen">
        </picture>
</head>