<head>
    <body>
        <h1>Belajar link</h1>
        <ul>
            <li><a href="https://itsk-soepraoen.ac.id" target="_blank">Web ITSK</a></li>
            <li><a href="https://itsk-soepraoen.ac.id" target="_blank"> Facebook ITSK</a></li>
            <li><a href="https://itsk-soepraoen.ac.id" target="_self"> Instagram ITSK</a></li>
        </ul>

        <h1 id="relatif-link">Belajar relative link</h1>
        <ul>
            <li><a href="hello-world.html" target="_blank">Link Hello World</a></li>
            <li><a href="../file1.txt" target="_blank">Link TXT</a></li>
        </ul>
    </body>
</head>