<head>
    <body>
        <h2>Hobi saya:</h2>
            <ul>
                <li>Koding</li>
                <li>Gaming</li>
                <li>Shopping</li>
                <li>Traveling</li>
            </ul>
            <hr>
            <h2>Tahapan belajar HTML</h2>   
            <ol type="a">
                <li>Menginstal aplikasi</li>
                <li>Belajar pengenalan web</li>
                <li>Belajar heading</li>
                <li>Belajar style</li>
            </ol>
    </body>
</head>