<head>
    <body>
        <h1>Belajar Table</h1>
        <table style="border: 1px solid black;">
            <colgroup>
                <col span="2" style="background-color: yellow;">
                <col style="background-color: aqua">
            </colgroup>
            <thead>
                <tr>
                    <th colspan="1">Nama<th>
                    <th>Nilai</th>

                    <!-- <th>Nama Depan</th>
                    <th>Nama Belakang</th>
                    <th>Nilai</th>-->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Fitria</td>
                    <td>Riski</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Putri</td>
                    <td>Rahmi A.</td>
                    <td>0</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td rowspan="2"></td>
                    <td>Total</td>
                    <td>100</td>
                </tr>

                <tr>
                    <td>Rata-rata</td>
                    <td>50</td>  
                </tr>
                <!--<tr>
                    <td></td>
                    <td>Total</td>
                    <td>100</td>
                </tr>-->
            </tfoot>
        </table>
    </body>
</head>