h1{
    color: red;
    font-size: 20px;
}

h2 {
    color: blue;
    font-size: 15px;
}

#judul{
    color: brown;
    font-size: 30px;
}

#subjudul{
    color: chartreuse;
    font-size: 20px;
}

.title{
    color: aquamarine;
    font-size: 20px;   
}

.upper{
    color: blueviolet;
    text-transform: uppercase;
}