h1 {
    color: aquamarine;
    font-size: 20px;
}

h2 {
    color: aquamarine;
    font-size: 20px;
}

#judul {
    color: aqua;
    font-size: 30px;
}

#sub judul {
    color: blue;
    font-size: 30px;

}

.title {
    color: chocolate;
    font-size: 20px;

}

.upper {
    text-transform: uppercase;
}

div p {
color: red;

}

div > p{
    color: blueviolet;

}