h1{
  color: brown;
  font-size: 20px  
}

h2{
    color: blue;
    font-size: 10px;
}

#judul{
color: aqua;
font-size: 30px;
}

#subjudul{
color: aquamarine;
font-size: 20px;
}

.title{
    color: blueviolet;
    font-size: 20px;
}

.upper{
    text-transform: uppercase;
}

div p{
    color: brown;
}

div > p{
    color: violet;
}