<HTM>
    <body>
        <h1>Belajar Tabel</h1>
        <table style="border: 1px solid black;">
            <colgroup>
            <col span="2" style="background-color: yellow;">
            <col style="background-color: aqua;"> 
            </colgroup>
            <thead>
                <tr>
                    <th colspan="2">Nama</th>
                    <th>Nilai</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Afrisca DharmaPutri </td>
                    <td>Aoetpah</td>
                    <td>100</td>
                    <tr>
                        <td>Mikhael</td>
                        <td>Ngamo</td>
                        <td>100</td>
                    </tr>
                </tr>
            </tbody>
            <tr>
                <td rowspan="2"></td>
                <td>Total</td>
                <td>200</td>
            </tr>
            <tr>
                <td>Rata-rata</td>
                <td>200</td>
            </tr>
        </table>
    </body>
</HTM>
