h1 {
    color: red;
    font-size: 20px;
}
h2 {
    color: blue;
    font-size: 15px;
}

#judul{
    color: green;
    font-size: 30;
}
#subjudul{
    color: aqua;
    font-size: 20px;
}
.title{
    color: chartreuse;
    font-size: 20px;
}
.upper{
    text-transform: uppercase;
}


