h1{
    color: red;
    font-size: 20px;
}

h2{
    color: blue;
    font-size: 15px;
}

#judul{
    color: aqua;
    font-size: 30px;
}

#subjudul{
    color: chartreuse;
    font-size: 20px;
}

.title{
    color: crimson;
    font-size: 25px;
}

.upper{
    text-transform: uppercase;
}

